body{
     background-image: url('WhatsApp\ Image\ 2021-01-18\ at\ 11.04.40.jpeg');
     background-size:100vw 50vw;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
p.mokeb{
    font-size: 2vw;
    margin-left: 35vw;
    color: white;
}
