
body{
background-color: black;
}
p.mokeb{
    font-size: 4vw;
    margin-left: 16vw;
    color: white;
    margin-top: 1px
}
.menu{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.menu a{
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    color: wheat;
    transition: all 0.3s ease;
    position: relative;
}

#menu1{
    background-color: black;
}
#menu1 a{
    background: navy;
}
#menu1 a:hover{
    background: blue;
}
#menu1 a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: red;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
#menu1 a:hover::after{
    transform: scaleX(1);
}

element.style {
    margin-left: 48vw;
}
