body{
     background-image: url('WhatsApp\ Image\ 2021-01-18\ at\ 11.04.40.jpeg');
     background-size:100vw 180vw;
     background-repeat: no-repeat;
     background-attachment: fixed;
      background-color: black;
}
p.mokeb{
    font-size: 4vw;
    margin-left: 25vw;
    color: white;
}
